.v-app-bar-title__placeholder,
.v-app-bar-title__content {
  font-family: 'Merriweather', sans-serif;
}
.nuxt-link-exact-active,
.nuxt-link-active {
  text-decoration: none;
}
.v-application a {
  color: white !important;
}